#topNavBar { 
  display: flex; 
  justify-content: center;
  font-family: cursive;

  }

#botNavBar{
  height: 40px;
}

body{
  background: url("https://images.wallpaperscraft.com/image/notepad_pencil_notebook_7745_1600x1200.jpg"); 
  /* https://images.pexels.com/photos/158771/notebook-pen-table-blank-158771.jpeg?auto=compress&cs=tinysrgb&fit=crop&h=627&w=1200 */
  /* http://www.freeppt.net/background/textures-notebook-paper-wallpapers-backgrounds-for-powerpoint.jpg */
  /* https://images.wallpaperscraft.com/image/notepad_pencil_notebook_7745_1600x1200.jpg" */
}

.card{
  opacity: 0.9;
}